<launch>

    <node pkg="points2image" type="points2image" name="points2image4" output="log" ns="/camera4">
    </node>
    <node pkg="points2image" type="points2image" name="points2image3" output="log" ns="/camera3">
    </node>
    <node pkg="points2image" type="points2image" name="points2image2" output="log" ns="/camera2">
    </node>
    <node pkg="points2image" type="points2image" name="points2image6" output="log" ns="/camera6">
    </node>
    <node pkg="points2image" type="points2image" name="points2image5" output="log" ns="/camera5">
    </node>

</launch>

